#add_channel
  = link_to 'Add Channel', '#none', :class => 'channel_form_toggle'
  %div.add_channel_form
    = form_for :channel, :url => user_channels_url, :remote => true, :html => {:id => 'fast_channel_add_form', 'data-type' => 'json'} do |f|
      = f.text_field :url, :class => 'input-block-level'
      = f.submit 'Add', :class => 'btn', :disable_with => 'Fetching...'
      %div.channel_error