#channel_list{'_data-path' => user_channels_list_url}
  %nav.nav.flex-column.border.rounded
    - if @channels && @channels.any?
      - @channels.each do |channel|
        %a.nav-link.channel_link{:href => '#', '_data-path' => user_channel_articles_url(channel.id)}
          %span.channel_name= channel.name
          %span.badge.badge-success.float-right= channel.unread_articles_count
    - else
      %p No channels
