%p= link_to 'All Items', '#none', '_data-path' => user_articles_full_list_url, :class => 'full_articles_list'
%p= link_to 'Starred Items', '#none', '_data-path' => user_articles_starred_url, :class => 'starred_articles'
%p= link_to 'Manage Channels', user_channels_url
