%h1 List

%ul
  - @articles.each do |article|
    - if article.read
      %ul.read_article
    - else
      %ul.unread_article
    %li= article.title
    %li= article.description
    %li= article.pub_date
