/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .

@import "formtastic-bootstrap"
@import jquery.ui.core
@import jquery.ui.theme
//@import "formtastic"
//@import "formtastic_ie6"
//@import "formtastic_ie7"

=rounded-borders-($position, $r: 5px)
  -webkit-border-#{$position}-right-radius: $r
  -webkit-border-#{$position}-left-radius: $r
  -khtml-border-#{$position}-right-radius: $r
  -khtml-border-#{$position}-left-radius: $r
  -moz-border-radius-#{$position}left: $r
  -moz-border-radius-#{$position}right: $r
  border-#{$position}-right-radius: $r
  border-#{$position}-left-radius: $r

=rounded-borders($r: 5px)
  +rounded-borders-(bottom, $r)
  +rounded-borders-(top, $r)

@import "user/channels"
@import "users"
@import "notice"
@import "user/comments"
@import "active_admin"
@import "bootstrap_and_overrides"


.unread
  background-color: white

.add_channel_form
  display: none

.channel_link
  .channel_name
    width: 40%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.custom-top-margin
  margin-top: 25px