#users_container
  background-color: #8ad9ef
  padding: 3px
  width: 42%
  margin-left: auto
  margin-right: auto
  +rounded-borders

  #content
    padding: 1px
    text-align: left
  .users_titles
    background-color: #8ad9ef
    margin: 0
    margin-bottom: 3px
  .users_links
    margin: 0
    margin-top: 3px
    a
      margin-right: 20px

  .content_block
    background-color: white
    padding: 8px
    +rounded-borders

  .users_form
    //text-align: center

  .login_buttons
    text-align: center

  .avatar_label
    float: left

  .user_avatar
    margin-left: 49px

  .twitter_button, .google_button
    img
      max-height: 28px
