%div#float_warpper
  %div#left_panel
    %div#special_channels
      = render :partial => 'user/channels/special_channels'
    %div#add_channel
      = render :partial => 'user/channels/light_form'
    %div#channel_list{'_data-path' => user_channels_list_url}
      Loading...
  %div#article_list
    = render :partial => 'user/articles/index'
