%div#float_warpper
  %div#left_panel
    %div#special_channels
      = render :partial => 'user/channels/special_channels'
    %div#add_channel
      = render :partial => 'user/channels/form'
    %div#channel_list
      Loading...
  %div#article_list
    = render :partial => 'user/articles/articles_list'
